body {
  background-color: black;
  color: lime;
  font-family: monospace;
  padding: 20px;
}

.terminal {
  max-width: 700px;
  margin: auto;
  white-space: pre-wrap;
}

#enterBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background: lime;
  color: black;
  border: none;
  cursor: pointer;
  display: none;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

#enterBtn.show {
  display: inline-block;
  opacity: 1;
  transform: scale(1);
}
